# Python files 
__pycache__/


# Git files
.git
README.md

# . files
.gitignore
.gcloudignore
.dockerignore
.venv
.gitlab-ci.yml

# yaml files
app.yaml

# Terraform files
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup